/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

.page.theme_light {
  --text-color: #353430;
  --bg-color: #fff1f7;
  --header-color: #ffc2e6;
  --shadow-color: #ff0070;
  --bg-title-color: #ff8dcb;
  --button-color: #353430;
  --decor-color: #353430;
  --section-title-color: #353430;
  --title-color: #353430;
  --text-shadow-color: #ff8dcb;
  background: url(../images/cover-image-light.png), center / cover;
  background-color: var(--bg-color, #fff1f7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: opacity(0.5);
}

.page.theme_light .header .header__decor {
  display: none;
}

@media (width < 1024px) {
  .page.theme_light {
    --shadow-color: #ff0070;
  }
}

@media (prefers-color-scheme: light) {

  @media (width < 1024px) {
    .page .header .header__title {
      --shadow-color: #ff8dcb;
    }

    .page .footer .footer__text {
      --shadow-color: #ff8dcb;
    }
  }
  :root {
    --font: "IBM Plex Mono", monospace;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --header-color: #ffc2e6;
    --shadow-color: #ff0070;
    --bg-title-color: #ff8dcb;
    --button-color: #353430;
    --decor-color: #353430;
    --section-title-color: #353430;
    --title-color: #353430;
    --text-shadow-color: #ff8dcb;
  }

  .page {
    background: url(../images/cover-image-light.png), center / cover;
    background-color: var(--bg-color, #fff1f7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: opacity(0.5);
  }

  .page .header .header__decor {
    display: none;
  }
}

@media (width < 1024px) {
  .page.theme_light .header .header__title {
    --shadow-color: #ff8dcb;
  }

  .page.theme_light .footer .footer__text {
    --shadow-color: #ff8dcb;
  }
}
