/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: "IBM Plex Mono", sans-serif;
  background-color: var(--bg-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.header__theme-menu {
  display: grid;
}

.header__theme-menu-list {
  display: grid;
  align-content: center;
  gap: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 12px;
  color: var(--accent-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
}

.header__theme-menu-button:hover {
  border: 0.5px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button:focus {
  border-block-end: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button_active {
  display: inline-block;
  outline: 1px solid var(--accent-color, #ff0070);
  pointer-events: none;
}

.header__title {
  display: grid;
  color: var(--header-color);
  font-family: inherit;
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title::before {
  content: " ";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
}

.header__title::after {
  content: " ";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
}

.header__description {
  display: grid;
  justify-self: end;
  color: var(--bg-color, #000028);
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 130%;
  background-color: var(--accent-color, #ff0070);
}

.main {
  display: grid;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  background-color: var(--bg-color, #000028);
}

section {
  display: grid;
}

.section__title {
  color: var(--accent-color, #ff0070);
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 130%;
}

.section__list {
  display: grid;
}

.section__list-item {
  display: grid;
}

.section__list-item-title,
.section__list-image-title {
  color: var(--bg-color, #000028);
  font-family: inherit;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 130%;
  background-color: var(--accent-color, #ff0070);
}

.section__list-item-title {
  height: 23px;
}

.section__list-item-text {
  line-height: 130%;
}

.section__subtitle {
  color: var(--bg-color, #000028);
  font-family: inherit;
  font-weight: 700;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 130%;
  background-color: var(--accent-color, #ff0070);
}

.section__images {
  display: grid;
}

.section__list-image {
  display: grid;
}

.section__list-item-image {
  inline-size: inherit;
}

.section__list-item-image img {
  inline-size: 100%;
  block-size: 100%;
}

.text__accent {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text__accent:hover {
  border-block-end: 1px solid var(--text-color, #f1b2ce);
}

.text__accent:focus {
  border: 1px solid var(--text-color, #f1b2ce);
}

.footer {
  position: relative;
  display: grid;
  place-content: center;
}

.footer::before {
  content: " ";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
}

.footer::after {
  content: " ";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
}

.footer__text {
  display: grid;
  color: var(--header-color, #db00ff);
  font-family: inherit;
  text-shadow: 4px 4px 0 var(--accent-color);
}
