/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
.page {
  display: grid;
  margin: auto;
  font-family: var(--font);
  background: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-inline-size: 1024px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  block-size: 100vh;
}

.header__decor {
  position: absolute;
  display: flex;
}

.header__decor::before {
  content: "REC";
  color: var(--decor-color, #ff0070);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 25px;
}

.header__decor::after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 4px rgba(255, 0, 112, 1);
  color: var(--accent-color, #ff0070);
  background-color: var(--decor-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  display: grid;
}

.header__theme-menu-list {
  display: grid;
  align-content: center;
  gap: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 12px;
  color: var(--button-color);
  font-family: var(--font);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 0.5px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  display: grid;
  color: var(--header-color);
  font-family: inherit;
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__title::before {
  content: " ";
  position: absolute;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  block-size: 25px;
  inline-size: 25px;
}

.header__title::after {
  content: " ";
  position: absolute;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  block-size: 25px;
  inline-size: 25px;
}

.header__description {
  display: grid;
  justify-self: end;
  color: var(--title-color);
  font-family: var(--font);
  font-weight: 700;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 130%;
}

.title-decor {
  background-color: var(--bg-title-color);
}

.main {
  display: grid;
  font-family: var(--font);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}

.main__section {
  display: grid;
}

.main__section-title {
  color: var(--section-title-color);
  font-family: var(--font);
  font-weight: 700;
  font-size: inherit;
  line-height: 130%;
}

.main__section-list {
  display: grid;
  gap: 20px;
}

.main__section-list-item {
  display: grid;
}

.main__section-list-item-title,
.main__section-list-image-title {
  color: var(--title-color);
  font-family: var(--font);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 130%;
}

.main__section-list-item-text {
  color: var(--text-color);
  line-height: 130%;
}

.main__section-subtitle {
  color: var(--title-color);
  font-family: var(--font);
  font-weight: 700;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 130%;
}

.main__section:nth-child(3) .main__section-list-item-title {
  font-weight: 400;
}

.main__section-images {
  display: grid;
}

.main__section-list-image {
  display: grid;
}

.main__section-list-item-image {
  display: grid;
  inline-size: inherit;
}

.main__section-list-item-image img {
  inline-size: 100%;
}

.main__section-list-item-text-accent {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--text-shadow-color);
}

.main__section-list-item-text-accent:hover {
  border-block-end: 1px solid var(--text-color, #f1b2ce);
}

.main__section-list-item-text-accent:focus {
  outline: none;
}

.main__section-list-item-text-accent:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}

.footer {
  position: relative;
  display: grid;
  place-content: center;
  block-size: 100vh;
}

.footer::before {
  content: " ";
  position: absolute;
  border-inline-end: 1px solid var(--decor-color, #ff0070);
  border-block-start: 1px solid var(--decor-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

.footer::after {
  content: " ";
  position: absolute;
  border-inline-start: 1px solid var(--decor-color, #ff0070);
  border-block-end: 1px solid var(--decor-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

.footer__text {
  display: grid;
  color: var(--header-color, #db00ff);
  font-family: inherit;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

@media (width > 374px) and (width < 768px) {
  .header {
    padding: 10px;
    min-block-size: 100vh;
  }

  .header__decor {
    top: 10px;
    right: 40px;
  }

  .header__decor::after {
    top: 8px;
    right: -20px;
  }

  .header__theme-menu {
    justify-content: end;
    align-content: center;
  }

  .header__title {
    align-items: center;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__title::before {
    top: 10px;
    right: 10px;
  }

  .header__title::after {
    bottom: 10px;
    left: 10px;
  }

  .header__description {
    align-self: center;
    background-color: var(--bg-title-color, #ff0070);
    block-size: 117px;
    min-inline-size: 355px;
    max-inline-size: 364px;
  }

  .main {
    gap: 50px;
    padding-inline: 10px;
    padding-block-start: 40px;
  }

  .main__section:not(:last-child) {
    gap: 20px;
  }

  .main__section-list-item {
    gap: 10px;
  }

  .main__section-images {
    gap: 10px;
  }

  .main__section-list-image {
    gap: 10px;
  }

  .main__section:nth-child(2) .main__section-list {
    grid-row: 2/3;
  }

  .footer {
    margin-block-start: 40px;
  }

  .footer::before {
    top: 10px;
    right: 10px;
  }

  .footer::after {
    bottom: 10px;
    left: 10px;
  }

  .footer__text {
    place-content: center;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width > 767px) and (width < 899px) {
  .header {
    padding: 20px;
    min-block-size: 100vh;
  }

  .header__decor {
    top: 20px;
    right: 48px;
  }

  .header__decor::after {
    top: 7px;
    right: -19px;
  }

  .header__theme-menu {
    justify-self: end;
    align-content: center;
  }

  .header__title {
    align-items: center;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title::before {
    top: 20px;
    right: 20px;
  }

  .header__title::after {
    bottom: 20px;
    left: 20px;
  }

  .header__description {
    align-self: center;
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .main {
    gap: 80px;
    padding-inline: 20px;
    padding-block-start: 60px;
  }

  .main__section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__section-list-item {
    gap: 10px;
  }

  .main__section:nth-child(2) .main__section-list {
    grid-column: 1/3;
  }

  .main__section:nth-child(3) .main__section-title {
    grid-row: 1/3;
  }

  .main__section-images {
    gap: 20px;
  }

  .main__section-list-image-title {
    grid-column: 1/3;
  }

  .main__section-list-image {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-column: 1/3;
    gap: 20px;
  }

  .main__section-list-item-image:first-child {
    grid-column: 1/3;
  }

  .main__section-list-item-image:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .main__section-list-item-image:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .main__section-list-item-image:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .main__section-list-item-image:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .main__section-list-item-image .image {
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
  }

  .footer {
    margin-block-start: 60px;
    padding: 20px;
  }

  .footer::before {
    top: 20px;
    right: 20px;
  }

  .footer::after {
    bottom: 20px;
    left: 20px;
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >899px) {
  .page {
    background-size: 100%;
  }

  .header {
    padding: 20px;
    min-block-size: 100vh;
  }

  .header__decor {
    top: 20px;
    right: 48px;
  }

  .header__title {
    align-items: center;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title::before {
    top: 20px;
    right: 20px;
  }

  .header__title::after {
    bottom: 20px;
    left: 20px;
  }

  .header__description {
    align-self: center;
    inline-size: 491px;
    block-size: 71px;
  }

  .header__decor::before {
    right: 5px;
  }

  .header__decor::after {
    top: 8px;
    right: -18px;
  }

  .header__theme-menu {
    place-content: baseline;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, auto);
  }

  .main {
    gap: 80px;
    padding-inline: 20px;
    padding-block-start: 60px;
  }

  .main__section {
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  .main__section-list-item {
    gap: 10px;
  }

  .main__section:nth-child(2) {
    row-gap: 20px;
  }

  .main__section:nth-child(2) .main__section-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/3;
    grid-row: 2/3;
    align-items: start;
  }

  .main__section:nth-child(2) .main__section-list-item {
    grid-row: 1/2;
  }

  .main__section:nth-child(3) .main__section-title {
    grid-row: 1/3;
    gap: 20px;
  }

  .main__section-subtitle {
    grid-column: 2/3;
    margin-block-end: 10px;
  }

  .main__section-images {
    gap: 20px;
  }

  .main__section-list-image-title {
    grid-column: 1/3;
  }
  .main__section-list-image {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-column: 1/3;
    gap: 20px;
    max-block-size: 1091px;
  }

  .main__section-list-item-image:first-child {
    grid-column: 1/3;
  }

  .main__section-list-item-image:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .main__section-list-item-image:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .main__section-list-item-image:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .main__section-list-item-image:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .main__section-list-item-image .image {
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
  }

  .footer {
    position: relative;
    display: grid;
    margin-block-start: 60px;
    padding-inline: 20px;
  }

  .footer::before {
    top: 20px;
    right: 20px;
  }

  .footer::after {
    bottom: 20px;
    left: 20px;
  }

  .footer__text {
    margin-block: 319px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 82.5%;
  }
}

@media (width > 1400px) {
  .page {
    background-size: cover;
  }
}
